{
    "port": 8080,
    "movies_path": "/mnt/exhdd/Movies",
    "tvshows_path": "/mnt/exhdd/TVShows",
    "concurrent_download_files": 5,
    "real_debrid": {
        "client_id": "AAAAA",
        "client_secret": "bbbbb",
        "access_token": "CCCCC",
        "refresh_token": "DDDDD",
        "expires_in": 3600,
        "obtained_at": "2018-01-03T22:21:44.711050803+01:00",
        "token_type": "Bearer"
    },
    "trakt_tv": {
        "client_id": "asdf",
        "client_secret": "asdf",
        "access_token": "",
        "refresh_token": "asdfasdf",
        "expires_in": 0,
        "obtained_at": "0001-01-01T00:00:00Z",
        "token_type": ""
    }
}
